= form_for @source do |f|
  - if @source.errors.any?
    #error_explanation
      %h2= "#{pluralize(@source.errors.count, "error")} prohibited this source from being saved:"
      %ul
        - @source.errors.full_messages.each do |msg|
          %li= msg

  - if !params[:course_id]
    .field
      = f.collection_select :course_id, Course.order('short_course'), :id, :short_course, prompt: true
  - else
    <input type="hidden" id="source_course_id" name="source[course_id]" value="#{params[:course_id]}" />
  .field
    = f.label :short_source
    = f.text_field :short_source
  .field
    = f.label :source_details
    = f.text_area :source_details
  <input type="hidden" id="assignment_due_date" name="source[many_assignments]" value="true" />
  .actions
    = f.submit 'Save'
