%h1 Listing sources

%table
  %thead
    %tr
      %th Short source
      %th Source details
      %th Dummy
      %th Course
      %th
      %th
      %th
      
  %tbody
    - @sources.each do |source|
      %tr
        %td= source.short_source
        %td= source.source_details
        %td= source.dummy
        %td= source.course
        %td= link_to 'Show', source
        %td= link_to 'Edit', edit_source_path(source)
        %td= link_to 'Destroy', source, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Source', new_source_path
