%h1 Create your course assignments

%table
  %thead
    %tr
      %th In semester
      %th Course number
      %th Course abbrev.
      %th Full title
      %th Meets on
      
  %tbody
    %tr
      %td= @course.semester.short_semester
      %td= @course.course_number
      %td= @course.short_course
      %td= @course.full_course
      %td
        - if @course.meet_days.blank?
          None
        - else      
          - @course.meet_days.each do |mday|
            = Date::DAYNAMES[mday.to_i]

%section
  = @source.short_source
  - @due_dates = @course.all_days.to_a
  = render partial: 'flipform', collection: @due_dates


= link_to 'Back', :back
