%h1 Listing assignments

%table
  %thead
    %tr
      %th Source
      %th Short assignment
      %th Assignment details
      %th Course
      %th Due date
      %th Completed
      %th
      %th
      %th
      
  %tbody
    - @assignments.each do |assignment|
      %tr
        %td= assignment.source_id
        %td= assignment.short_assignment
        %td= assignment.assignment_details
        %td= assignment.course_id
        %td= assignment.due_date
        %td= assignment.completed
        %td= link_to 'Show', assignment
        %td= link_to 'Edit', edit_assignment_path(assignment, flip: false)
        %td= link_to 'Destroy', assignment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p= link_to 'New Assignment', new_assignment_path

= link_to 'Go home', '/'
