%p#notice= notice

%p
  %b Short assignment:
  = @assignment.short_assignment
%p
  %b Assignment details:
  = @assignment.assignment_details
%p
  %b Url:
  = @assignment.url
%p
  %b Due date:
  = @assignment.due_date
%p
  %b Completed:
  = @assignment.completed
%p
  %b Source:
  = @assignment.source

= link_to 'Edit', edit_assignment_path(@assignment)
\|
= link_to 'Back', assignments_path
