%h1 RollingRead &ndash; Cascading contents

.semesters
  %h2 Semesters
  - if @ordered_semesters.empty?
    %h3 You don't have any semesters!
  - else
    - @ordered_semesters.each do |semester|
      %span.smurf Abbrev.
      %span.frums= semester.short_semester
      %span.smurf Full semester
      %span.frums= semester.full_semester
      %span.smurf Start date
      %span.frums= semester.start_date
      %span.smurf End date
      %span.frums= semester.end_date
      = link_to 'Add course', course_in_semester_path(semester.id)
      .courses
        %h2 Courses
        - if @grouped_courses.empty?
          %h3 You don't have any courses!
        - else
          - @these_courses_hash = @grouped_courses.select{|s,c| s == semester.id }
          - @these_courses_hash.each_value{|these_courses| @these_courses_array = these_courses}
          - @these_courses_array.each do |curse|
            %span.smurf Course Number
            %span.frums= curse.course_number
            %span.smurf Abbrev.
            %span.frums= curse.short_course
            %span.smurf Course title
            %span.frums= curse.full_course
            = link_to 'Add source', source_in_course_path(curse.id)
            .sources
              %h2 Sources
              - if @grouped_sources.empty?
                %h3 You don't have any sources!
              - else
                - @these_sources_hash = @grouped_sources.select{|s,c| s == curse.id }
                - @these_sources_hash.each_value{|these_sources| @these_sources_array = these_sources}
                - @these_sources_array.each do |source|
                  %span.smurf  Abbrev.
                  %span.frums= source.short_source
                  %span.smurf  Source details
                  %span.frums= source.source_details
                  %p

= link_to 'Add new semester', semester_in_user_path(session[:user_id])

= link_to 'Go home', '/'
