%h2.tasklist RollingRead &ndash; Tasklist

- if user_signed_in?
  %section
    - @grouped_assignments.each do |g_date, grouped|
      %article.tasklist
        %h3.tasklist= g_date
        - grouped.each do |g_assignment|
          %section.tasklist
            %p.tasklist#course= g_assignment.course.short_course
            %p.tasklist#source= g_assignment.source.short_source
            %p.tasklist#assignment= g_assignment.short_assignment
            %p.tasklist#completed
              = label_tag('Completed') 
              = check_box_tag('completed', value = "true", checked = g_assignment.completed, disabled: true )
  %nav
    = link_to('Add semesters, courses, etc.', cascade_path )

- else
  %section
    Please login: 
    = link_to 'Login with Twitter', '/auth/twitter'



