
%article#nav
  %form.tasklist
    = link_to( button_tag('Semesters'), '/semesters' )
    = link_to( button_tag('Courses'), '/courses' )
    = link_to( button_tag('Sources'), '/sources' )
    = link_to( button_tag('Assignments'), '/assignments' )
    = link_to( button_tag('Tasklist'), '/' )
