= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.collection_select :semester_id, Semester.order('start_date'), :id, :short_semester, prompt: true
  .field
    = f.label :course_number
    = f.text_field :course_number
  .field
    = f.label :short_course
    = f.text_field :short_course
  .field
    = f.label :full_course
    = f.text_area :full_course
  .field
    = f.label :meet_days
    = f.number_field :meet_days
  .actions
    = f.submit 'Save'
