= form_for @course do |f|
  - if @course.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course.errors.count, "error")} prohibited this course from being saved:"
      %ul
        - @course.errors.full_messages.each do |msg|
          %li= msg

  - if !params[:semester_id]
    .field
      = f.collection_select :semester_id, Semester.order('start_date'), :id, :short_semester, prompt: true
  - else
    <input type="hidden" id="course_semester_id" name="course[semester_id]" value="#{params[:semester_id]}" />
  .field
    = f.label :course_number
    = f.text_field :course_number
  .field
    = f.label :short_course
    = f.text_field :short_course
  .field
    = f.label :full_course
    = f.text_area :full_course
  .field
    = f.label :meet_days
    <input type='checkbox' id='meet_days[Monday]'    name='course[meet_days][]' value=1>M</input>
    <input type='checkbox' id='meet_days[Tuesday]'   name='course[meet_days][]' value=2>T</input>
    <input type='checkbox' id='meet_days[Wednesday]' name='course[meet_days][]' value=3>W</input>
    <input type='checkbox' id='meet_days[Thursday]'  name='course[meet_days][]' value=4>H</input>
    <input type='checkbox' id='meet_days[Friday]'    name='course[meet_days][]' value=5>F</input>
    <input type='checkbox' id='meet_days[Saturday]'  name='course[meet_days][]' value=6>S</input>
    <input type='checkbox' id='meet_days[Sunday]'    name='course[meet_days][]' value=0>U</input>
  .actions
    = f.submit 'Save'
