%h1 Listing courses

%table
  %thead
    %tr
      %th Semester ID
      %th Course number
      %th Short course
      %th Full course
      %th Meet days
      %th
      %th
      %th
      
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.semester_id
        %td= course.course_number
        %td= course.short_course
        %td= course.full_course
        %td= course.meet_days
        %td= link_to 'Show', course
        %td= link_to 'Edit', edit_course_path(course)
        %td= link_to 'Destroy', course, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p= link_to 'New Course', new_course_path

= link_to 'Go home', '/'


