%p#notice= notice

%p
  %b Course number:
  = @course.course_number
%p
  %b Short course:
  = @course.short_course
%p
  %b Full course:
  = @course.full_course
%p
  %b Meet days:
  = @course.meet_days
%p
  %b Semester:
  = @course.semester

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
